.header {
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
}

.header__title {
    font-family: "Times New Roman";
    font-size: 35px;
    color: sandybrown;
}